<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <header class="cabecalho">
            <div class="logo">
                <a href="/">
                    <img src="/img/logo.png"
                     alt="logo ifsp"
                     class="logo-img">
                     
                </a>
            </div>

        </header>

        <main>
            <h1>Cursos</h1>
            <div class="cursos">
                <div class="card-curso" th:each="curso : ${cursos}">
                    <h2 th:text="${curso.nome}"></h2>
                    
                    <p>
                        Carga Horária
                        <span th:text="${curso.cargaHoraria}"> </span>
                    </p>

                    <p>
                        Duração:
                        <span th:text="${curso.duracao}"></span>
                    </p>

                    <a th:href="@{/curso/{id}(id=${curso.idCurso})}">
                        Ver curso
                    </a>
                </div>
            </div>
        </main>
        
    </div>
</body>
</html>